body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: "Open Sans";
   font-weight: 400;
   font-weight: 400;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #2B2B2E;
   text-decoration: underline;
}
a:visited
{
   color: #000000;
}
a:active
{
   color: #000000;
}
a:hover
{
   color: #000000;
   text-decoration: underline;
}
#wb_header
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#header
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1140px;
}
#header > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#header > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#header > .row > .col-1
{
   float: left;
}
#header > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#header:before,
#header:after,
#header .row:before,
#header .row:after
{
   display: table;
   content: " ";
}
#header:after,
#header .row:after
{
   clear: both;
}
@media (max-width: 320px)
{
#header > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_layoutGridWelcome
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   height: 100vh;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#layoutGridWelcome
{
   box-sizing: border-box;
   height: 100vh;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#layoutGridWelcome > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#layoutGridWelcome > .col-1
{
   flex: 0 0 auto;
}
#layoutGridWelcome > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#layoutGridWelcome > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_welcome-carousel
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   margin: 0;
}
#wb_welcome-carousel
{
   box-sizing: border-box;
   width: 100%;
   height: 100vh;
}
#welcome-carousel
{
   position: relative;
   margin: 0;
;
   height: 100%;
   box-sizing: border-box;
}
#welcome-carousel .carousel-inner
{
   overflow: hidden;
   width: 100%;
   height: 100%;
   position: relative;
   perspective: 1200px;
}
.carousel.pointer-event
{
   -ms-touch-action: pan-y;
   touch-action: pan-y;
}
#welcome-carousel .carousel-inner::after
{
   display: block;
   clear: both;
   content: "";
}
#welcome-carousel .carousel-inner > .carousel-item
{
   display: none;
   position: relative;
   float: left;
   width: 100%;
   margin-right: -100%;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   transform-style: preserve-3d;
   transition: opacity 500ms ease-in-out;
   height: 100%;
   text-align: right;
}
#welcome-carousel .carousel-item-inner
{
   padding: 0 0 50px 0;
   display: flex;
   align-items: flex-end;
   flex-direction: column;
   justify-content: flex-end;
   height: 100%;
   box-sizing: border-box;
}
#welcome-carousel .carousel-inner > .carousel-item > img, #welcome-carousel .carousel-inner > .carousel-item > a > img
{
   display: block;
   line-height: 1;
}
#welcome-carousel .carousel-inner > .active, #welcome-carousel .carousel-inner > .carousel-item-next, #welcome-carousel .carousel-inner > .carousel-item-prev
{
   display: block;
}
#welcome-carousel .carousel-inner > .active
{
   animation: welcome-carousel-animation-show 500ms ease 0ms both;
}
#welcome-carousel .carousel-inner > .carousel-item-next, #welcome-carousel .carousel-inner > .carousel-item-prev
{
   position: absolute;
   top: 0;
   width: 100%;
}
#welcome-carousel .carousel-inner > .carousel-item-next.carousel-item-start, #welcome-carousel .carousel-inner > .carousel-item-prev.carousel-item-end
{
   animation: welcome-carousel-animation-show 500ms ease 0ms both;
}
#welcome-carousel .carousel-inner > .active.carousel-item-start, #welcome-carousel .carousel-inner > .active.carousel-item-end
{
   animation: welcome-carousel-animation-hide 500ms ease both;
}
#welcome-carousel .carousel-indicators
{
   list-style: none;
   bottom: 0;
   padding: 0;
   margin: 0;
   position: absolute;
   margin-left: -63px;
   left: 50%;
   vertical-align: middle;
   z-index: 999;
}
#welcome-carousel .carousel-indicators li
{
   display: block;
   float: left;
   margin: 16px 16px 16px 16px;
   width: 9px;
   height: 9px;
   cursor: pointer;
   text-indent: -999px;
   border-radius: 50%;
   background-color: transparent;
   border: 1px solid rgba(255,255,255,1.00);
   box-shadow: inset 0 0 0 0 rgba(255,255,255,1.00);
   transition: box-shadow 0.3s ease;
}
#welcome-carousel .carousel-indicators .active
{
   box-shadow: inset 0 0 0 5px rgba(255,255,255,1.00);
}
#welcome-carousel .carousel-control
{
   display: flex;
   position: absolute;
   align-items: center;
   justify-content: center;
   left: 0;
   top: 0;
   bottom: 0;
   width: 15%;
   text-align: center;
   opacity: 0.5;
   transition: opacity 0.3s ease;
   cursor: pointer;
   z-index: 7778;
}
#welcome-carousel .carousel-control.carousel-item-end
{
   left: auto;
   right: 0;
}
#welcome-carousel .carousel-control .carousel-control-prev-icon, #welcome-carousel .carousel-control .carousel-control-next-icon
{
   display: inline-block;
   position: absolute;
   width: 48px;
   height: 48px;
   z-index: 5;
}
#welcome-carousel .carousel-control:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
.sr-only
{
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0px, 0px, 0px, 0px);
   border: 0;
}
#welcome-carousel .frame
{
   width: 970px;
   display: inline-block;
   float: left;
   height: 488px;
}
#welcome-carousel .carousel-control-next, #welcome-carousel .carousel-control-prev
{
   cursor: pointer;
   text-align: center;
   opacity: 0.5;
   transition: opacity 0.3s ease;
}
#welcome-carousel .carousel-control-next-icon, #welcome-carousel .carousel-control-prev-icon
{
   display: inline-block;
   width: 48px;
   height: 48px;
   background: transparent no-repeat center center;
   background-size: 100% 100%;
}
#welcome-carousel .carousel-control-next:hover, #welcome-carousel .carousel-control-prev:hover
{
   text-decoration: none;
   outline: 0;
   opacity: 1;
}
#welcome-carousel .carousel-control-prev-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%20192%20192%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M152%2041%20L95%2096%20L152%20152%20C153%20154%2c%20154%20156%2c%20154%20158%20C154%20160%2c%20153%20162%2c%20152%20164%20L134%20182%20C132%20184%2c%20130%20184%2c%20128%20184%20C125%20184%2c%20123%20184%2c%20122%20182%20L42%20102%20C40%20101%2c%2039%2099%2c%2039%2096%20C39%2094%2c%2040%2092%2c%2042%2090%20L122%2011%20C123%209%2c%20125%208%2c%20128%208%20C130%208%2c%20132%209%2c%20134%2011%20L152%2028%20C153%2030%2c%20154%2032%2c%20154%2035%20C154%2037%2c%20153%2039%2c%20152%2041%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#welcome-carousel .carousel-control-next-icon
{
   background: url('data:image/svg+xml,%3csvg%20style%3d%22fill:%23FFFFFF%22%20viewBox%3d%220%200%20192%20192%22%20version%3d%221.1%22%20xmlns%3d%22http://www.w3.org/2000/svg%22%3e%0d%0a%20%20%20%3cpath%20d%3d%22M151%20102%20L71%20182%20C70%20184%2c%2068%20184%2c%2065%20184%20C63%20184%2c%2061%20184%2c%2059%20182%20L41%20164%20C39%20162%2c%2039%20160%2c%2039%20158%20C39%20156%2c%2039%20154%2c%2041%20152%20L98%2096%20L41%2041%20C39%2039%2c%2039%2037%2c%2039%2035%20C39%2032%2c%2039%2030%2c%2041%2028%20L59%2011%20C61%209%2c%2063%208%2c%2065%208%20C68%208%2c%2070%209%2c%2071%2011%20L151%2090%20C153%2092%2c%20153%2094%2c%20153%2096%20C153%2099%2c%20153%20101%2c%20151%20102%22/%3e%0d%0a%3c/svg%3e%0d%0a') no-repeat center center;
}
#welcome-carousel .frame-1
{
   background-color: transparent;
   background-image: url('../images/IMG_20240424_123947_948.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#welcome-carousel .frame-2
{
   background-color: transparent;
   background-image: url('../images/20250124_133338.jpg');
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
}
#welcome-carousel .frame-3
{
   background-color: transparent;
   background-image: url('../images/freepik__dj-at-night-club__98994.png');
   background-repeat: no-repeat;
   background-position: center bottom;
   background-size: cover;
}
@keyframes welcome-carousel-animation-show
{
   0%   { transform: translateX(100%); }
   100% { transform: translateX(0); }
}
@keyframes welcome-carousel-animation-hide
{
   0%   { transform: translateX(0); }
   100% { transform: translateX(-100%); }
}
#wb_layoutGridBand
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.87);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#layoutGridBand
{
   box-sizing: border-box;
   padding: 75px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#layoutGridBand > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutGridBand > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#layoutGridBand > .row > .col-1
{
   float: left;
}
#layoutGridBand > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#layoutGridBand > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 25px 0 25px;
}
#layoutGridBand:before,
#layoutGridBand:after,
#layoutGridBand .row:before,
#layoutGridBand .row:after
{
   display: table;
   content: " ";
}
#layoutGridBand:after,
#layoutGridBand .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#layoutGridBand > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_layoutGridTour
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(32,178,170,0.86);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#layoutGridTour
{
   box-sizing: border-box;
   padding: 75px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 800px;
}
#layoutGridTour > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#layoutGridTour > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#layoutGridTour > .row > .col-1
{
   float: left;
}
#layoutGridTour > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#layoutGridTour > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 25px 0 25px;
}
#layoutGridTour:before,
#layoutGridTour:after,
#layoutGridTour .row:before,
#layoutGridTour .row:after
{
   display: table;
   content: " ";
}
#layoutGridTour:after,
#layoutGridTour .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#layoutGridTour > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_firstStepsLayoutGrid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #20B2AA;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#firstStepsLayoutGrid
{
   box-sizing: border-box;
   padding: 0 30px 75px 30px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#firstStepsLayoutGrid > .row
{
   margin-right: -30px;
   margin-left: -30px;
}
#firstStepsLayoutGrid > .row > .col-1, #firstStepsLayoutGrid > .row > .col-2, #firstStepsLayoutGrid > .row > .col-3
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 30px;
   padding-left: 30px;
   position: relative;
}
#firstStepsLayoutGrid > .row > .col-1, #firstStepsLayoutGrid > .row > .col-2, #firstStepsLayoutGrid > .row > .col-3
{
   float: left;
}
#firstStepsLayoutGrid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#firstStepsLayoutGrid > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#firstStepsLayoutGrid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: center;
}
#firstStepsLayoutGrid > .row > .col-2 > .col-2-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#firstStepsLayoutGrid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#firstStepsLayoutGrid > .row > .col-3 > .col-3-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 10px 0 10px 0;
}
#firstStepsLayoutGrid:before,
#firstStepsLayoutGrid:after,
#firstStepsLayoutGrid .row:before,
#firstStepsLayoutGrid .row:after
{
   display: table;
   content: " ";
}
#firstStepsLayoutGrid:after,
#firstStepsLayoutGrid .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#firstStepsLayoutGrid > .row > .col-1, #firstStepsLayoutGrid > .row > .col-2, #firstStepsLayoutGrid > .row > .col-3
{
   float: none;
   width: 100% !important;
}
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: rgba(255,255,255,0.87);
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 75px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#contact > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#contact > .row > .col-1 > .col-1-padding
{
   box-sizing: border-box;
   width: 100%;
   padding: 0 25px 0 25px;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_links
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#links
{
   box-sizing: border-box;
   padding: 25px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1170px;
}
#links > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#links > .row > .col-1, #links > .row > .col-2
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#links > .row > .col-1, #links > .row > .col-2
{
   float: left;
}
#links > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 33.33333333%;
   text-align: left;
}
#links > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 66.66666667%;
   text-align: left;
}
#links:before,
#links:after,
#links .row:before,
#links .row:after
{
   display: table;
   content: " ";
}
#links:after,
#links .row:after
{
   clear: both;
}
@media (max-width: 768px)
{
#links > .row > .col-1, #links > .row > .col-2
{
   float: none;
   width: 100%;
}
}
#wb_footer
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #222222;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#footer
{
   box-sizing: border-box;
   padding: 25px 15px 25px 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#footer > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#footer > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#footer > .row > .col-1
{
   float: left;
}
#footer > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#footer:before,
#footer:after,
#footer .row:before,
#footer .row:after
{
   display: table;
   content: " ";
}
#footer:after,
#footer .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#footer > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_footerText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_footerText
{
   color: #A9A9A9;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 15px;
   line-height: 21px;
}
#wb_footerText p, #wb_footerText ul
{
   margin: 0;
   padding: 0;
}
#wb_footerText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#upStickyLayer
{
   background-color: #3E3E3E;
   background-image: none;
   border-radius: 50%;
   opacity: 0.77;
}
#wb_upIcon
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #3E3E3E;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
}
#wb_upIcon a
{
   text-decoration: none;
}
#wb_upIcon a::after
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 1;
   pointer-events: auto;
   content: "";
}
#upIcon
{
   height: 24px;
   width: 24px;
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
}
#upIcon i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 24px;
   line-height: 24px;
   vertical-align: middle;
}
#wb_upIcon:hover #upIcon i
{
   color: #007BFF;
}
#wb_servicesHeading
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
}
#servicesHeading
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
   -webkit-text-stroke: 1px #4A4A4D;
   text-stroke: 1px #4A4A4D;
}
#wb_servicesText2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 0 0 20px 0 ;
   text-align: center;
}
#wb_servicesText2
{
   color: #594B3E;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 25px;
}
#wb_servicesText2 p, #wb_servicesText2 ul
{
   margin: 0;
   padding: 0;
}
#wb_servicesText2
{
   display: block;
   margin: 0 0 20px 0 ;
   box-sizing: border-box;
   width: 100%;
}
#wb_linksCard1
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 25px 0 0 0 ;
   background-color: transparent;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 0px;
   text-align: left;
}
#linksCard1-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#linksCard1-card-item0
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #222222;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 24px;
}
#linksCard1-card-item1
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #222222;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: italic;
   font-size: 13px;
   line-height: 16.9px;
}
#linksCard1-card-item2
{
   box-sizing: border-box;
   margin: 0 0 10px 0 ;
   padding: 0;
   color: #222222;
   font-family: "Open Sans";
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#linksCard1-card-item3
{
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   padding: 0;
   color: #222222;
   font-family: "Open Sans";
   font-weight: bold;
   font-style: normal;
   font-size: 13px;
}
#linksCard1-card-item4
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 10px 0 0 ;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: transparent;
   background-image: none;
   color: #222222;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#linksCard1-card-item4 a
{
   color: inherit;
   display: block;
   padding: 8px 8px 8px 8px;
   text-decoration: none;
}
#linksCard1-card-item4 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#linksCard1-card-item5
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 10px 0 0 ;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: transparent;
   background-image: none;
   color: #222222;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#linksCard1-card-item5 a
{
   color: inherit;
   display: block;
   padding: 8px 8px 8px 8px;
   text-decoration: none;
}
#linksCard1-card-item5 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#linksCard1-card-item6
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 10px 0 0 ;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: transparent;
   background-image: none;
   color: #222222;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#linksCard1-card-item6 a
{
   color: inherit;
   display: block;
   padding: 8px 8px 8px 8px;
   text-decoration: none;
}
#linksCard1-card-item6 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#linksCard1-card-item7
{
   display: inline-block;
   height: 35px;
   box-sizing: border-box;
   margin: 0 0 20px 0 ;
   border: 0px solid #000000;
   border-radius: 50%;
   background-color: transparent;
   background-image: none;
   color: #222222;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
}
#linksCard1-card-item7 a
{
   color: inherit;
   display: block;
   padding: 8px 8px 8px 8px;
   text-decoration: none;
}
#linksCard1-card-item7 i
{
   margin-right: 0px;
   text-align: center;
   vertical-align: top;
   font-size: 19px;
   width: 19px;
}
#wb_linksHeading
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 25px 0 20px 0 ;
   padding: 0;
   text-align: left;
}
#linksHeading
{
   color: #222222;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: left;
   text-transform: none;
}
#wb_linksText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_linksText
{
   color: #222222;
   font-family: Calibri;
   font-weight: 400;
   font-size: 13px;
   line-height: 16.5px;
}
#wb_linksText p, #wb_linksText ul
{
   margin: 0;
   padding: 0;
}
#wb_linksText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#linksEmail
{
   box-sizing: border-box;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #555555;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   width: 100%;
   height: 100%;
   padding: 14px 4px 14px 4px;
}
#linksEmail:focus
{
   outline: 0;
}
#wb_linksEmail
{
   position: relative;
   margin: 0 0 16px 0 ;
}
#linksEmail::placeholder
{
   color: #CCCCCC;
   opacity: 1;
}
#linksEmail::-ms-input-placeholder
{
   color: #CCCCCC;
}
#linksEmail-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #CCCCCC;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   margin-left: 4px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#linksEmail::-moz-placeholder
{
   color: transparent;
}
#linksEmail::placeholder
{
   color: transparent;
}
#linksEmail:not(:-moz-placeholder-shown)
{
   padding-top: 21px;
   padding-bottom: 7px;
}
#linksEmail:focus, #linksEmail:not(:placeholder-shown)
{
   padding-top: 21px;
   padding-bottom: 7px;
}
#linksEmail:-webkit-autofill
{
   padding-top: 21px;
   padding-bottom: 7px;
}
#linksEmail:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#linksEmail:focus~label, #linksEmail:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#linksEmail:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#linksButton
{
   border: 1px solid #222222;
   border-radius: 0px;
   background-color: #222222;
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#linksButton:focus
{
   outline: 0;
}
#wb_buySellHeading
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0 0 10px 0 ;
   padding: 0;
   text-align: center;
}
#buySellHeading
{
   color: #4A4A4D;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
   -webkit-text-stroke: 1px #FFFFFF;
   text-stroke: 1px #FFFFFF;
}
#wb_buySellText 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_buySellText div
{
   text-align: center;
}
#wb_buySellText
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_servicesText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 20px 0;
   margin: 0;
   text-align: center;
}
#wb_servicesText1
{
   color: #594B3E;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 16px;
   line-height: 23px;
}
#wb_servicesText1 p, #wb_servicesText1 ul
{
   margin: 0;
   padding: 0;
}
#wb_servicesText1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_welcome-text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: swash-in 1000ms linear 300ms 1 normal both;
}
#wb_welcome-text5
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 29px;
   line-height: 42.5px;
}
#wb_welcome-text5 p, #wb_welcome-text5 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text5
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_welcome-text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: swash-in 1000ms linear 1000ms 1 normal both;
}
#wb_welcome-text6
{
   color: #FFFFFF;
   font-family: Calibri;
   font-weight: bold;
   font-size: 96px;
   line-height: 117.5px;
}
#wb_welcome-text6 p, #wb_welcome-text6 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text6
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_welcome-text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
   animation: swash-in 1000ms linear 300ms 1 normal both;
}
#wb_welcome-text1
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 29px;
   line-height: 42.5px;
}
#wb_welcome-text1 p, #wb_welcome-text1 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text1
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_welcome-text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: swash-in 1000ms linear 1000ms 1 normal both;
}
#wb_welcome-text2
{
   color: #FFFFFF;
   font-family: Calibri;
   font-weight: bold;
   font-size: 96px;
   line-height: 117.5px;
}
#wb_welcome-text2 p, #wb_welcome-text2 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text2
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_welcome-text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: swash-in 1000ms linear 300ms 1 normal both;
}
#wb_welcome-text3
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: 400;
   font-size: 29px;
   line-height: 42.5px;
}
#wb_welcome-text3 p, #wb_welcome-text3 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text3
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_welcome-text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0 0 10px 0;
   margin: 0;
   text-align: center;
   animation: swash-in 1000ms linear 1000ms 1 normal both;
}
#wb_welcome-text4
{
   color: #FFFFFF;
   font-family: Calibri;
   font-weight: bold;
   font-size: 96px;
   line-height: 117.5px;
}
#wb_welcome-text4 p, #wb_welcome-text4 ul
{
   margin: 0;
   padding: 0;
}
#wb_welcome-text4
{
   display: block;
   margin: 0;
   box-sizing: border-box;
   width: 100%;
}
#wb_Card57
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 3px;
   text-align: center;
}
#Card57-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card57-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0 0 -50px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card57-card-item1
{
   display: inline-block;
   height: 32px;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(0,0,0,0.64);
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
}
#Card57-card-item1 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card57-card-item2
{
   box-sizing: border-box;
   margin: 35px 25px 20px 25px;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 19px;
   text-align: center;
}
#Card57-card-item3
{
   box-sizing: border-box;
   margin: 0 25px 0 25px;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 11px;
   text-align: center;
}
#Card57-card-item4
{
   box-sizing: border-box;
   margin: 20px 25px 20px 25px;
   padding: 0;
   color: #666666;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
}
#wb_Card4
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 3px;
   text-align: center;
}
#Card4-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card4-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0 0 -50px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card4-card-item1
{
   display: inline-block;
   height: 32px;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(0,0,0,0.64);
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
}
#Card4-card-item1 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card4-card-item2
{
   box-sizing: border-box;
   margin: 35px 25px 20px 25px;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 19px;
   text-align: center;
}
#Card4-card-item3
{
   box-sizing: border-box;
   margin: 0 25px 0 25px;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 11px;
   text-align: center;
}
#Card4-card-item4
{
   box-sizing: border-box;
   margin: 20px 25px 20px 25px;
   padding: 0;
   color: #666666;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
}
#wb_Card5
{
   position: relative;
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   margin: 0;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #DEDEDE;
   border-radius: 3px;
   text-align: center;
}
#Card5-card-body
{
   padding: 0;
   flex: 1 1 auto;
   font-size: 0;
}
#Card5-card-item0
{
   box-sizing: border-box;
   border-radius: 3px 3px 0 0 !important;
   margin: 0 0 -50px 0 ;
   padding: 0;
   border: 0px solid #000000;
   border-radius: 0px;
   width: 100%;
   height: auto;
}
#Card5-card-item1
{
   display: inline-block;
   height: 32px;
   box-sizing: border-box;
   margin: 0 10px 0 10px;
   border: 0px solid #000000;
   border-radius: 0px;
   background-color: rgba(0,0,0,0.64);
   background-image: none;
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 12px;
}
#Card5-card-item1 a
{
   color: inherit;
   display: block;
   padding: 10px 16px 10px 16px;
   text-decoration: none;
}
#Card5-card-item2
{
   box-sizing: border-box;
   margin: 35px 25px 20px 25px;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 19px;
   text-align: center;
}
#Card5-card-item3
{
   box-sizing: border-box;
   margin: 0 25px 0 25px;
   padding: 0;
   color: #000000;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 11px;
   text-align: center;
}
#Card5-card-item4
{
   box-sizing: border-box;
   margin: 20px 25px 20px 25px;
   padding: 0;
   color: #666666;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18.2px;
   text-align: center;
}
#Editbox1
{
   box-sizing: border-box;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #555555;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   width: 100%;
   height: 100%;
   padding: 14px 4px 14px 4px;
}
#Editbox1:focus
{
   outline: 0;
}
#wb_Editbox1
{
   position: relative;
   margin: 0 0 16px 0 ;
}
#Editbox1::placeholder
{
   color: #CCCCCC;
   opacity: 1;
}
#Editbox1::-ms-input-placeholder
{
   color: #CCCCCC;
}
#Editbox1-label
{
   display: flex;
   align-items: center;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #CCCCCC;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   margin-left: 4px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,transform .1s ease-in-out;
}
#Editbox1::-moz-placeholder
{
   color: transparent;
}
#Editbox1::placeholder
{
   color: transparent;
}
#Editbox1:not(:-moz-placeholder-shown)
{
   padding-top: 21px;
   padding-bottom: 7px;
}
#Editbox1:focus, #Editbox1:not(:placeholder-shown)
{
   padding-top: 21px;
   padding-bottom: 7px;
}
#Editbox1:-webkit-autofill
{
   padding-top: 21px;
   padding-bottom: 7px;
}
#Editbox1:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#Editbox1:focus~label, #Editbox1:not(:placeholder-shown)~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#Editbox1:-webkit-autofill~label
{
   opacity: .65;
   transform: scale(.85) translateY(calc(-50% - 0.8em));
}
#TextArea1
{
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   border: 1px solid #CCCCCC;
   border-radius: 0px;
   background-color: #FFFFFF;
   background-image: none;
   color: #555555;
   font-family: "Open Sans";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   text-align: left;
   padding: 20px 4px 4px 4px;
   overflow: auto;
   resize: none;
}
#wb_TextArea1
{
   position: relative;
   margin: 0 0 16px 0 ;
}
#TextArea1:focus
{
   outline: 0;
}
#TextArea1::placeholder
{
   color: #CCCCCC;
   opacity: 1;
}
#TextArea1::-ms-input-placeholder
{
   color: #CCCCCC;
}
#TextArea1-label
{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   pointer-events: none;
   box-sizing: border-box;
   border: 1px solid transparent;
   color: #CCCCCC;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   padding: 10px 4px 4px 4px;
   transform-origin: 0 0;
   transition: opacity .1s ease-in-out,font-size .1s ease-in-out;
}
#TextArea1::-moz-placeholder
{
   color: transparent;
}
#TextArea1::placeholder
{
   color: transparent;
}
#TextArea1:not(:-moz-placeholder-shown)~label
{
   opacity: .65;
   font-size: 11.33px;
   padding-top: 4px;
}
#TextArea1:focus~label, #TextArea1:not(:placeholder-shown)~label
{
   opacity: .65;
   font-size:11.33px;
   padding-top: 4px;
}
#TextArea1:-webkit-autofill~label
{
   opacity: .65;
   font-size:11.33px;
   padding-top: 4px;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   vertical-align: top;
   margin: 0;
   padding: 0 0 10px 0;
   text-align: center;
}
#Heading2
{
   color: #FFFFFF;
   font-family: "Open Sans";
   font-weight: 700;
   font-style: normal;
   font-size: 32px;
   margin: 0;
   text-align: center;
   text-transform: none;
   -webkit-text-stroke: 1px #4A4A4D;
   text-stroke: 1px #4A4A4D;
}
#wb_CssMenu5
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   background-color: transparent;
   margin: 20px 0 20px 0 ;
   text-align: center;
   position: relative;
   z-index: 1111 !important;
}
#wb_CssMenu5::after
{
   content: "";
   display: table;
clear: both;
}
#wb_CssMenu5 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
    font-size: 0;
}
#wb_CssMenu5 > ul
{
   display: flex;
   justify-content: space-between;
}
#wb_CssMenu5 li
{
   margin: 0;
   padding: 0px 0px 0px 0px;
}
#wb_CssMenu5 a
{
   display: block;
   color: #FFFFFF;
   border: 1px solid #2B2B2E;
   border-radius: 0px;
   background-color: transparent;
   background-image: none;
   font-family: "Open Sans";
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   text-transform: none;
   text-align: center;
   vertical-align: middle;
}
#wb_CssMenu5 > ul > li > a
{
   height: 38px;
   line-height: 38px;
   padding: 0px 5px 0px 5px;
}
#wb_CssMenu5 li:hover a, #wb_CssMenu5 a:hover
{
   color: #FFFFFF;
}
.CssMenu5-effect:before
{
   border: 1px solid #2B2B2E;
   background-color: transparent;
   background-image: none;
}
#wb_CssMenu5 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu5 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu5 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
.CssMenu5-effect
{
   display: inline-block;
   position: relative;
   transform: perspective(0px) translateX(0);
   transition: color 500ms linear;
}
.CssMenu5-effect:before
{
   content: "";
   position: absolute;
   top: 0;
   height: 0px;
   right: 0;
   left: 0;
   z-index: -1;
   opacity: 0;
   transform: scaleX(0);
   transform-origin: 50%;
   transition: all 500ms linear;
}
.CssMenu5-effect:hover:before, .CssMenu5-effect:focus:before, .CssMenu5-effect.active:before
{
   transform: scaleX(1);
   opacity: 1;
}
#videoImageHotspots-hotspot-0:after
{
   color: #FFFFFF;
   content: "Watch Our Video!";
   font-family: "Arial";
   font-size: 14px;
   font-weight: bold;
   left: 50%;
   margin-left: -100%;
   position: absolute;
   text-align: center;
   top: 80px;
   width: 200%;
   z-index: 999;
}
